.container {
    background-color: #424242;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}

.brandName {
    color: #ececec;
}

.productNameContainer {
    text-align: center;
    padding-bottom: 10px;
}

.nameContainer {
    justify-content: center;
    padding-bottom: 10px;
}

.installmentContainer {
    color: #ececec;
}

.listPriceContainer {
    color: #ececec;
}

.element {
    width: 399px;
}

.productBrand {
    color: #cecece;
}

.buyButtonContainer{
    justify-content: center;
    align-items: center;
}