.paragraph {
    color: #59ff00;
}

.container--texto-item1 {
    justify-content: center;
    align-items: center;
    background-color: #59ff00;
    height: 30px;
}
.paragraph--texto-item1 {
    color: #161616;
}

.container--texto-item2 {
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 30px;
}
.paragraph--texto-item2 {
    color: #59ff00;
}